<mat-radio-group
  [(ngModel)]="value"
  
>
  <ng-container *ngFor="let option of options">

    <mat-radio-button 
      [color]="color"
      [disableRipple]="disableRipple"
      [labelPosition]="labelPosition"
      [value]="option.value"
      [id]="option.value"
      [disabled]="option.disabled"
      [checked]="option.checked"
      [name]="option.name"
      [required]="option.required"
      (change)="sqChange.emit($event)"
    >
      {{ option.displayValue }}
    </mat-radio-button>

  </ng-container>


</mat-radio-group>
