<ng-container *ngIf="tabList">
<mat-tab-group [backgroundColor] = "backgroundColor"
               [color] = "color"
               [disableRipple] ="disableRipple"
               [dynamicHeight] = "dynamicHeight"
               [headerPosition] = "headerPosition"
               [selectedIndex] = "selectedIndex"
               (selectedIndexChange) = "selectedIndexChange($event)"
               (selectedTabChange)  = "selectedTabChange($event)"
               (focusChange) = "focusChange($event)"
>
  <mat-tab *ngFor= "let tab of tabList"
  [disabled] = "tab.disabled"
  [label] = "tab.label"
  [isActive] ="tab.isActive"

  >
  <ng-template *ngIf="tab.icon" mat-tab-label>
      <mat-icon>{{tab.icon}}</mat-icon>
    </ng-template>
  <ng-container [ngTemplateOutlet]= 'tab.TabView'></ng-container>

  </mat-tab>
</mat-tab-group>
</ng-container>

<!-- Use tabs as navigation only if navLinks are defined -->
<ng-container *ngIf= "navLinks">
<nav mat-tab-nav-bar>
  <a mat-tab-link
     *ngFor="let nav of navLinks"
     [routerLink]="nav.path"
     routerLinkActive
     #rla="routerLinkActive"
     [active]="rla.isActive"
     >
    {{nav.tabLabel}}<mat-icon *ngIf="nav.icon" class="material icon">{{nav.icon}}</mat-icon>
  
  </a>
</nav>
<ng-container>
