<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h3>
    {{ title }}!
  </h3>
</div>

<!-- <div style="text-align:center">

  <app-sq-check-box labelPosition='before' 
                    color='primary' 
                    [(checked)]="SqChecked" 
                    name="SqCheckbox" 
                    (sqIndeterminateChange)="sqIndeterminateChange($event)"
                    (sqChange)="sqChange($event)" 
                    #maaz >SqCheckBox with 2-way binding
  </app-sq-check-box>
  <p>checked :{{maaz.checked}}</p>
  <p>indeterminate: {{maaz.indeterminate}}</p>

</div>

<section style="text-align:center">
  <form [formGroup]="testForm" (ngSubmit)="onSubmit(testForm)">

    <app-sq-check-box formControlName="SqCheckbox"
                      labelPosition='before' 
                      color='warn'
                      name="SqCheckbox"
                      (sqChange)="sqChange($event)">SqCheckBox inside a form
    </app-sq-check-box>
    <br>
    <button mat-button type="submit">Submit</button>
  </form>
  {{testForm.value | json}}
</section> -->
<!-- <mat-card>
<h3>
  Component reference version:
</h3>

<app-radio-group
color="primary" disableRipple 
labelPosition="before"
  [options]="items$ | async"
  (sqChange)="selected($event)"
  #group1
></app-radio-group>
<br/>
<br/>
Selected value: {{ group1.value }}
</mat-card>
<br/>
<mat-card>
<h3>
  Reactive form version:
</h3>

<form [formGroup]="myForm" >
  <div>
    <app-radio-group 
      [formControl]="myForm.get('myRadioGroup')"
      [options]="items2$ | async"
    ></app-radio-group>
  </div>
  <br/>
  <button mat-raised-button color='primary' (click)="submit(myForm.value)">Submit</button>

</form>
</mat-card>
<br/>

<mat-card>
  <h3>
    Reactive form version with default selection from FormBuilder
  </h3>
  
  <form [formGroup]="countryForm" >
    <div>
      <app-radio-group 
        formControlName="countriesRadioGroup"
        [options]="countries | async"
      ></app-radio-group>
    </div>
    <br/>
    <button mat-raised-button color='primary' (click)="countryFormSubmit(countryForm.value)">Submit</button>
  
  </form>
  </mat-card>
  <br/>
<mat-card>
 <h3>Template Form version</h3>
            <section>
                <form #form="ngForm" [formGroup]="templateForm">
                    <app-radio-group color="warn" labelPosition="before"
                    formControlName="TemplateRadioGroup"
      [options]="items3$ | async"
    ></app-radio-group>
                </form>
                <br />
                {{ form.value | json }}
            </section>
</mat-card>
<br/> -->
<!-- <mat-card>
  <h3>Template Form version with default selection from formGroup</h3>
             <section>
                 <form #form="ngForm" [formGroup]="seasonsForm">
                     <app-radio-group color="primary" labelPosition="after"
                     formControlName="seasonsRadioGroup"
       [options]="seasons | async"
     ></app-radio-group>
                 </form>
                 <br />
                 {{ form.value | json }}
             </section>
 </mat-card> -->

<app-text-area placeholder="Maaz"
              matAutosizeMinRows="2"
              matAutosizeMaxRows= "3"
              [hintText]="title"
              required="true"
              [(ngModel)]="title"
              tabOrder="1"
 >Loading app-text-area</app-text-area>
<br/>
<br/>

<mat-card>
  <h5>Reactive form </h5>
  <form [formGroup]="commentForm">
    <section>
      <app-text-area formControlName= "commentBox"
                     placeholder="Comment"
                     matAutosizeMinRows="2"
                     matAutosizeMaxRows ="4"
      ></app-text-area>
    </section>
    <button mat-raised-button (click)="commentFormSubmit(commentForm.value)" >Submit</button>
    {{commentForm.value | json}}
  </form>
</mat-card>